# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OMNET specific
Makefile
out/ 
Cloud/out/
Cloud/results/
Cloud/.settings
Cloud/Cloud
Cloud/Cloud_dbg
Fog/out/
Fog/results/
Fog/.settings
Fog/Fog
Fog/Fog_dbg

computerMessage_m.cc
computerMessage_m.h
fogComputingNetwork_dbg
fogComputingNetwork
